/* start project  */
.crud .container .head {
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
}
.crud .container .inputs .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 11px 0;
}
@media (max-width: 767px) {
  .crud .container .inputs .price {
    flex-wrap: wrap;
  }
  .crud .container .inputs .price input {
    width: calc(50% - 10px);
  }
}
.crud .container .inputs .price #total {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-wrap: nowrap;
  background-color: #a00d02;
  color: white;
  padding: 5px 2px;
  border-radius: 4px;
}
.crud .container .inputs .price #total::before {
  content: "Total: ";
}
